@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #020c1b, #0a192f);
  color: white;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

/* Estilos para el mapa */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #0a192f;
}